<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
		 <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 懒加载代理方式 CGLIB OR JAVASSIS-->
        <setting name="proxyFactory" value="CGLIB"/>
        <!-- 指定出发加载的方法 -->
        <setting name="lazyLoadTriggerMethods" value="equals,toString"/>
        
        <setting name="cacheEnabled" value="true" />
	</settings>
	

	<typeAliases>
		<package name="spring.bean"/>
	</typeAliases>
	
	<!-- 所有的映射器都要在大文件中注册 -->
	<mappers>
		<package name="spring.mapper"/>
	</mappers>
	
</configuration>
